@import url(https://fonts.googleapis.com/css?family=Radley);
@import url(https://fonts.googleapis.com/css?family=Martel+Sans:300);

html {
    -webkit-font-smoothing: antialiased;    
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #00272B;
    
    height: 100%;
    min-height:100%;
}

body {
    font-family: 'Martel Sans', sans-serif;
    overflow: hidden; /* no scrolling around off the screen */
    min-height:100%;
}

h1 {
    font-family: 'Radley', serif;
    font-size: 8vw;
    letter-spacing: 5px;
    line-height: 1.5;
}

p {
    color: #114B5F;
    font-size: 16px;
}

a {
    color: #114B5F;
}

#brand-name {
    width: 100%;
    background-color: white;
    padding: 50px;
    text-align: center;
    color: #114B5F;
    /*  
    Center it in the page based on the middle
    of the text (not the top left corner):
    */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}